/* Modal.css */

.modalStyles {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: whitesmoke;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  /* 子要素の h1, p, a */
  .modalStyles h1 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .modalStyles p {
    font-size: 1.2rem;
  }
  .modalStyles a {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* デスクトップ向けのメディアクエリ */
  @media (min-width: 960px) {
    .modalStyles {
      width: 1100px;
      max-width: 1100px;
    }
    .modalStyles h1 {
      font-size: 2rem;
    }
    .modalStyles p {
      font-size: 1.4rem;
    }
  }
  